:root {
    --orange: #FE5F00;
    --brown: #6A5837;
    --light: #fff;
    --dark: #23231A;
    --grey: #ccc;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--light);
}

#goto-top {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 1rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    box-shadow: 0 0 2px 3px black;
    z-index: 1000;
    transition: all 0.2s ease-out;
}

.navbar-transparent {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
}

.brand {
    text-shadow: 3px 3px black;
    padding: 0 1rem;
}

.brand h1::first-letter {
    font-size: 2.5rem;
    color: var(--orange);
}

.nav-links ul {
    display: flex;
    list-style: none;
    margin-right: 1rem;
}

.nav-link {
    transition: 0.2s all linear;
}

.nav-link a {
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: 1.2rem 1rem;
    font-weight: 100;
    transition: all 0.2s ease-out;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:hover a {
    color: var(--orange);
    transform: scale(1.05);
}

.nav-collapse {
    display: none;
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
}

.burger div {
    width: 1.5rem;
    height: 1px;
    margin: 0.5rem 0;
    background-color: var(--light);
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(30deg,
            var(--dark),
            rgb(5, 5, 5));
}

.hero-heading {
    padding: 0 1rem;
    text-align: center;
}

.hero-heading h1 {
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.typewriter p {
    width: 0%;
    margin: 1rem auto;
    white-space: nowrap;
    overflow: hidden;
    color: var(--orange);
    padding: 0;
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 200;
    border-right: 0.1rem solid var(--orange);
    animation:
        writer 6s steps(25, end) infinite,
        blink .5s 1s step-end infinite;
}

@keyframes writer {
    10% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    80% {
        width: 100%;
    }

    90% {
        width: 0%;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: var(--orange);
    }
}

/* Projects section */
.projects-section {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: var(--brown);
}

.projects-section .heading {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0 auto 3rem auto;
    padding: 3rem 0 0.5rem 0;
    border-bottom: 3px solid var(--light);
    width: fit-content;
}

.projects-div {
    max-width: 1480px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    position: relative;
    text-decoration: none;
    color: var(--light);
    width: 450px;
    box-shadow: 0 0 1px 1px var(--dark);
    transition: 0.2s all ease-out;
}

.project-hidden {
    display: none;
}

.project-show {
    display: block;
}

.project-img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.project-title {
    text-align: center;
    margin: 0;
    padding: 1rem 0.5rem;
    background-color: var(--dark);
    letter-spacing: 0.5px;
}

.project-title-decor {
    color: var(--orange);
    opacity: 0;
    transition: 0.2s all linear;
}

.project:hover .project-title-decor {
    opacity: 1;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 1px var(--dark);
}

.project:hover .project-title {
    color: var(--orange);
}

.project-tags {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9rem;
}

.project-tags p {
    padding: 0.5rem;
}

.django {
    background-color: #0C4B33;
}

.flask {
    background-color: teal;
}

.react {
    background-color: steelblue;
}

.vanilla {
    background-color: brown;
}

.cert {
    background-color: darkslategray;
}

#see-more-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;
    width: 9rem;
    text-decoration: none;
    color: var(--light);
    padding: 0.2rem 1rem;
    border: 1px solid var(--light);
    transition: 0.2s all linear;
}

.arrow-forward {
    font-size: 1.5rem;
    transition: 0.2s all linear;
}

.arrow-backward {
    margin-left: 5px;
    font-size: 1.5rem;
    transition: 0.2s all linear;
}

#see-more-btn:hover {
    cursor: pointer;
    background-color: var(--dark);
    border: 1px solid var(--dark);
}

#see-more-btn:hover .arrow-forward {
    transform: translateX(5px);
}

#see-more-btn:hover .arrow-backward {
    transform: translateX(-5px);
}

/* Contact */
.contact-section {
    position: relative;
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: var(--dark);
}

.contact-text {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.contact-text h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.contact-text p {
    color: var(--orange);
    font-style: italic;
    font-size: 1rem;
    font-weight: 200;
}

.contact-links ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5rem;
    padding: 1rem;
}

.contact-link {
    display: block;
    text-decoration: none;
    color: var(--light);
    transition: 0.2s all ease-out;
}

.contact-links ul li:hover .contact-link {
    color: var(--orange);
    transform: translateY(-5px);
}

/* Footer */
.divider {
    position: absolute;
    width: 15rem;
    height: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--brown);
    border-radius: 5px;
    z-index: 1000;
}

footer {
    font-size: 0.9rem;
    background-color: var(--dark);
    color: var(--grey);
    padding: 1.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }

    .contact-text p {
        margin: 0 auto;
        width: 50%;
    }

    .contact-links ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .project {
        width: 350px;
    }

    .project-img {
        height: 300px;
    }

    #see-more-btn:hover {
        background-color: transparent;
        border: 1px solid var(--light);

    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 14px;
    }

    .hero-heading h1 {
        font-size: 2.5rem;
    }

    .typewriter p {
        font-size: 1rem;
    }

    .contact-text h1 {
        font-size: 2.3rem;
    }

    .nav-collapse {
        display: block;
    }

    .navbar-transparent {
        position: fixed;
        background-color: var(--dark);
        box-shadow: 0 0 2px 3px black;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        visibility: hidden;
        overflow-y: hidden;
        height: 0;
        width: 100%;
        transition: 0.2s all ease-in-out;
    }

    .nav-link:hover a {
        color: var(--orange);
        transform: scale(1);
    }

    .nav-links ul {
        margin: 1rem 0 0 0;
        flex-direction: column;
    }

    .nav-show {
        height: 200px;
        visibility: visible;
    }   

    .project {
        width: 100%;
    }

    .project-img {
        height: 250px;
    }
}